page-home {
  .home-content {
    background-color: #0277bd;
  }

  .browser-mockup {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 3px 3px 0 0;
    margin-bottom: 15px;
  }

  .browser-mockup:before {
    display: block;
    position: absolute;
    content: "";
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }

  .browser {
    min-height: 50px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

  .browser-content {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .item-home {
    background-color: #f4f4f4 !important;
    cursor: pointer;
  }

  .browser-mockup.with-url#memo:after {
    display: block;
    position: absolute;
    content: 'https://Promemoria.com';
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
  }

  .browser-mockup.with-url#note:after {
    display: block;
    position: absolute;
    content: 'https://Nota.com';
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
  }

  .browser-mockup.with-url#todo:after {
    display: block;
    position: absolute;
    content: 'https://TODOlist.com';
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
  }
  /*@-webkit-keyframes swipe {
    0% {
      opacity: 0;
      left: 0;
    }
    50% {
      opacity: 1;
    }
    80% {
      opacity: 0;
      left: 800px;
    }
    100% {
        display: none;
    }
  }
  @-moz-keyframes swipe {
    0% {
      opacity: 0;
      left: 0;
    }
    50% {
      opacity: 1;
    }
    80% {
      opacity: 0;
      left: 800px;
    }
    100% {
        display: none;
    }
  }
  @-o-keyframes swipe {
    0% {
      opacity: 0;
      left: 0;
    }
    50% {
      opacity: 1;
    }
    80% {
      opacity: 0;
      left: 800px;
    }
    100% {
        display: none;
    }
  }
  @keyframes swipe {
    0% {
      opacity: 0;
      left: 0;
    }
    50% {
      opacity: 1;
    }
    80% {
      opacity: 0;
      left: 800px;
    }
    100% {
        display: none;
    }
  }

  .swipe {
    animation-iteration-count: 1;
    -webkit-animation: swipe 1s;
    -moz-animation: swipe 1s;
    -o-animation: swipe 1s;
    animation: swipe 1s;
  }*/
}
