page-note {
    .note-content {
        background-color: #9b3;
    }
    
    #swipe {
        height: 100%;
        width: 100%;
    }

    .text-center {
        text-align: center;
    }

    .text-center.label-md[floating] {
        transform-origin: top;
    }
}
