<ion-header>

  <ion-navbar>
    <ion-title>Note</ion-title>
    <ion-buttons end>
      <button (click)="profileSettings()" ion-button color="secondary" clear icon-left>
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
        <p>{{ profile.email }}</p>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="note-content">
  <div (swipe)="swipe($event)" id="swipe">
    <div class="browser-mockup">
      <div class="browser">
        <div class="browser-content">
          <ion-item class="text-center floating">
            <ion-label class="text-center" color="note" floating>Titolo Nota</ion-label>
            <ion-input class="text-center" [(ngModel)]="title"></ion-input>
          </ion-item> <br>
          <ion-item>
            <ion-textarea placeholder="Inserisci una nota" [(ngModel)]="note"></ion-textarea>
          </ion-item> <br>
          <ion-item>
            <ion-label>Nuova Raccolta</ion-label>
            <ion-toggle [(ngModel)]="new"></ion-toggle>
          </ion-item>
          <ion-item class="text-center floating" [hidden]="!new">
            <ion-label class="text-center" color="note" floating>Nuova Raccolta</ion-label>
            <ion-input class="text-center" [(ngModel)]="newCollection"></ion-input>
          </ion-item> <br>
          <ion-item [hidden]="new">
            <ion-label>Raccolta</ion-label>
            <ion-select [(ngModel)]="collection">
              <ion-option value="f">Raccolta 1</ion-option>
              <ion-option value="m">Raccolta 2</ion-option>
            </ion-select>
          </ion-item> <br>
          <button ion-button (click)="createNote()" color="note" full>Crea</button>
        </div>
      </div>
    </div>
    <div class="browser-mockup">
      <div class="browser">
        <div class="browser-content">
          <ion-list>
            <ion-item-divider *ngFor="let coll of collections; let i = index" >
                <div (click)="toggle(coll)" style="width: 100%; height: 100%;">
                    {{ coll }}
                </div>
            </ion-item-divider>
            <ion-item *ngFor="let coll of collections; let i = index" [class.special]="isSpecial" [@expand]="active">
              <div *ngFor="let note of notes.coll">
                <h3>note.title</h3>
                <p>note.note</p>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
